In [1]:
import os
import pandas as pd
import json
#import seaborn as sb
#import matplotlib.pyplot as plt
#import numpy as np
#from sklearn import metrics, preprocessing
#import operator
#import math

In [2]:
# Directory containing JSON files
directory = "events/"

# Initialize an empty list to store DataFrames
dfs = []

# Iterate over files in the directory
for filename in os.listdir(directory):
    if filename.endswith(".json"):
        # Extract tournament name from filename
        tournament = filename.split("_")[1].split(".")[0]
        print("Tournament:", tournament)  
        # Read JSON file into DataFrame
        filepath = os.path.join(directory, filename)
        with open(filepath, 'r', encoding='utf-8') as file:
            data = json.load(file)
        df = pd.DataFrame(data)
        
        # Flatten columns with lists
        for column in df.columns:
            if isinstance(df[column][0], list):
                # Expand list into multiple columns
                expanded_columns = pd.json_normalize(df[column])
                expanded_columns.columns = [f"{column}_{col}" for col in expanded_columns.columns]
                df = pd.concat([df, expanded_columns], axis=1)
                # Drop the original column
                df.drop(columns=[column], inplace=True)
        
        # Add Tournament column
        df['Tournament'] = tournament
        dfs.append(df)

# Concatenate all DataFrames into a single DataFrame
combined_df = pd.concat(dfs, ignore_index=True)

# Display combined DataFrame
pd.set_option("display.max_columns", None)
print(combined_df.shape)

Tournament: England
Tournament: European
Tournament: France
Tournament: Germany
Tournament: Italy
Tournament: Spain
Tournament: World
(3251294, 19)

In [7]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3251294 entries, 0 to 3251293
Data columns (total 19 columns):
 #   Column        Dtype
---  ------        -----
 0   eventId       int64
 1   subEventName  object
 2   playerId      int64
 3   matchId       int64
 4   eventName     object
 5   teamId        int64
 6   matchPeriod   object
 7   eventSec      float64
 8   subEventId    object
 9   id            int64
 10  tags_0        object
 11  tags_1        object
 12  tags_2        object
 13  tags_3        object
 14  tags_4        object
 15  tags_5        object
 16  positions_0   object
 17  positions_1   object
 18  Tournament    object
dtypes: float64(1), int64(5), object(13)
memory usage: 471.3+ MB

In [3]:
combined_df.iloc[0]

eventId                          8
subEventName           Simple pass
playerId                     25413
matchId                    2499719
eventName                     Pass
teamId                        1609
matchPeriod                     1H
eventSec                  2.758649
subEventId                      85
id                       177959171
tags_0                {'id': 1801}
tags_1                        None
tags_2                        None
tags_3                        None
tags_4                        None
tags_5                        None
positions_0     {'y': 49, 'x': 49}
positions_1     {'y': 78, 'x': 31}
Tournament                 England
Name: 0, dtype: object

In [6]:
combined_df.head(3)

,eventId,subEventName,playerId,matchId,eventName,teamId,matchPeriod,eventSec,subEventId,id,tags_0,tags_1,tags_2,tags_3,tags_4,tags_5,positions_0,positions_1,Tournament
0,8,Simple pass,25413,2499719,Pass,1609,1H,2.758649,85,177959171,{'id': 1801},None,None,None,None,None,"{'y': 49, 'x': 49}","{'y': 78, 'x': 31}",England
1,8,High pass,370224,2499719,Pass,1609,1H,4.946850,83,177959172,{'id': 1801},None,None,None,None,None,"{'y': 78, 'x': 31}","{'y': 75, 'x': 51}",England
2,8,Head pass,3319,2499719,Pass,1609,1H,6.542188,82,177959173,{'id': 1801},None,None,None,None,None,"{'y': 75, 'x': 51}","{'y': 71, 'x': 35}",England

In [5]:
combined_df["Tournament"].value_counts()

Tournament
Italy       647372
England     643150
France      632807
Spain       628659
Germany     519407
World       101759
European     78140
Name: count, dtype: int64