In [1]:
import os
import pandas as pd
import json

In [2]:
# Directory containing JSON files
directory = "events/"

# Initialize an empty list to store DataFrames
dfs_events = []

# Iterate over files in the directory
for filename in os.listdir(directory):
    if filename.endswith(".json"):
        # Extract tournament name from filename
        tournament = filename.split("_")[1].split(".")[0]
        print("Tournament:", tournament)  
        # Read JSON file into DataFrame
        filepath = os.path.join(directory, filename)
        with open(filepath, 'r', encoding='utf-8') as file:
            data = json.load(file)
        df = pd.DataFrame(data)
        
        # Flatten columns with lists
        for column in df.columns:
            if isinstance(df[column][0], list):
                # Expand list into multiple columns
                expanded_columns = pd.json_normalize(df[column])
                expanded_columns.columns = [f"{column}_{col}" for col in expanded_columns.columns]
                df = pd.concat([df, expanded_columns], axis=1)
                # Drop the original column
                df.drop(columns=[column], inplace=True)
        
        # Add Tournament column
        df['Tournament'] = tournament
        dfs_events.append(df)

# Concatenate all DataFrames into a single DataFrame
df_events = pd.concat(dfs_events, ignore_index=True)

# Display combined DataFrame
pd.set_option("display.max_columns", None)
print(df_events.shape)

Tournament: England
Tournament: European
Tournament: France
Tournament: Germany
Tournament: Italy
Tournament: Spain
Tournament: World
(3251294, 19)

In [3]:
df_events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3251294 entries, 0 to 3251293
Data columns (total 19 columns):
 #   Column        Dtype
---  ------        -----
 0   eventId       int64
 1   subEventName  object
 2   playerId      int64
 3   matchId       int64
 4   eventName     object
 5   teamId        int64
 6   matchPeriod   object
 7   eventSec      float64
 8   subEventId    object
 9   id            int64
 10  tags_0        object
 11  tags_1        object
 12  tags_2        object
 13  tags_3        object
 14  tags_4        object
 15  tags_5        object
 16  positions_0   object
 17  positions_1   object
 18  Tournament    object
dtypes: float64(1), int64(5), object(13)
memory usage: 471.3+ MB

In [4]:
df_events.iloc[0]

eventId                          8
subEventName           Simple pass
playerId                     25413
matchId                    2499719
eventName                     Pass
teamId                        1609
matchPeriod                     1H
eventSec                  2.758649
subEventId                      85
id                       177959171
tags_0                {'id': 1801}
tags_1                        None
tags_2                        None
tags_3                        None
tags_4                        None
tags_5                        None
positions_0     {'y': 49, 'x': 49}
positions_1     {'y': 78, 'x': 31}
Tournament                 England
Name: 0, dtype: object

In [5]:
df_events.head(3)

,eventId,subEventName,playerId,matchId,eventName,teamId,matchPeriod,eventSec,subEventId,id,tags_0,tags_1,tags_2,tags_3,tags_4,tags_5,positions_0,positions_1,Tournament
0,8,Simple pass,25413,2499719,Pass,1609,1H,2.758649,85,177959171,{'id': 1801},None,None,None,None,None,"{'y': 49, 'x': 49}","{'y': 78, 'x': 31}",England
1,8,High pass,370224,2499719,Pass,1609,1H,4.946850,83,177959172,{'id': 1801},None,None,None,None,None,"{'y': 78, 'x': 31}","{'y': 75, 'x': 51}",England
2,8,Head pass,3319,2499719,Pass,1609,1H,6.542188,82,177959173,{'id': 1801},None,None,None,None,None,"{'y': 75, 'x': 51}","{'y': 71, 'x': 35}",England

In [6]:
df_events["Tournament"].value_counts()

Tournament
Italy       647372
England     643150
France      632807
Spain       628659
Germany     519407
World       101759
European     78140
Name: count, dtype: int64

In [7]:
# Directory containing JSON files
directory = "matches/"

# Initialize an empty list to store DataFrames
dfs_matches = []

# Iterate over files in the directory
for filename in os.listdir(directory):
    if filename.endswith(".json"):
        # Extract tournament name from filename
        tournament = filename.split("_")[1].split(".")[0]
        print("Tournament:", tournament)  
        # Read JSON file into DataFrame
        filepath = os.path.join(directory, filename)
        with open(filepath, 'r', encoding='utf-8') as file:
            data = json.load(file)
        df = pd.DataFrame(data)
        
        # Flatten columns with lists
        for column in df.columns:
            if isinstance(df[column][0], list):
                # Expand list into multiple columns
                expanded_columns = pd.json_normalize(df[column])
                expanded_columns.columns = [f"{column}_{col}" for col in expanded_columns.columns]
                df = pd.concat([df, expanded_columns], axis=1)
                # Drop the original column
                df.drop(columns=[column], inplace=True)
        
        # Add Tournament column
        df['Tournament'] = tournament
        dfs_matches.append(df)

# Concatenate all DataFrames into a single DataFrame
df_matches = pd.concat(dfs_matches, ignore_index=True)

# Display combined DataFrame
pd.set_option("display.max_columns", None)
print(df_matches.shape)

Tournament: England
Tournament: European
Tournament: France
Tournament: Germany
Tournament: Italy
Tournament: Spain
Tournament: World
(1941, 21)

In [8]:
df_matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1941 entries, 0 to 1940
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   status         1941 non-null   object
 1   roundId        1941 non-null   int64
 2   gameweek       1941 non-null   int64
 3   teamsData      1941 non-null   object
 4   seasonId       1941 non-null   int64
 5   dateutc        1941 non-null   object
 6   winner         1941 non-null   int64
 7   venue          1941 non-null   object
 8   wyId           1941 non-null   int64
 9   label          1941 non-null   object
 10  date           1941 non-null   object
 11  duration       1941 non-null   object
 12  competitionId  1941 non-null   int64
 13  referees_0     1925 non-null   object
 14  referees_1     1923 non-null   object
 15  referees_2     1921 non-null   object
 16  referees_3     1911 non-null   object
 17  Tournament     1941 non-null   object
 18  groupName      115 non-null    object
 19  referees_4     132 non-null    object
 20  referees_5     130 non-null    object
dtypes: int64(6), object(15)
memory usage: 318.6+ KB

In [9]:
df_matches.iloc[0]

status                                                      Played
roundId                                                    4405654
gameweek                                                        38
teamsData        {'1646': {'scoreET': 0, 'coachId': 8880, 'side...
seasonId                                                    181150
dateutc                                        2018-05-13 14:00:00
winner                                                        1659
venue                                                    Turf Moor
wyId                                                       2500089
label                             Burnley - AFC Bournemouth, 1 - 2
date                              May 13, 2018 at 4:00:00 PM GMT+2
duration                                                   Regular
competitionId                                                  364
referees_0                {'refereeId': 385705, 'role': 'referee'}
referees_1         {'refereeId': 385733, 'role': 'firstAssistant'}
referees_2        {'refereeId': 385922, 'role': 'secondAssistant'}
referees_3         {'refereeId': 388333, 'role': 'fourthOfficial'}
Tournament                                                 England
groupName                                                      NaN
referees_4                                                     NaN
referees_5                                                     NaN
Name: 0, dtype: object

In [11]:
df_matches.head(3)

,status,roundId,gameweek,teamsData,seasonId,dateutc,winner,venue,wyId,label,date,duration,competitionId,referees_0,referees_1,referees_2,referees_3,Tournament,groupName,referees_4,referees_5
0,Played,4405654,38,"{'1646': {'scoreET': 0, 'coachId': 8880, 'side...",181150,2018-05-13 14:00:00,1659,Turf Moor,2500089,"Burnley - AFC Bournemouth, 1 - 2","May 13, 2018 at 4:00:00 PM GMT+2",Regular,364,"{'refereeId': 385705, 'role': 'referee'}","{'refereeId': 385733, 'role': 'firstAssistant'}","{'refereeId': 385922, 'role': 'secondAssistant'}","{'refereeId': 388333, 'role': 'fourthOfficial'}",England,NaN,NaN,NaN
1,Played,4405654,38,"{'1628': {'scoreET': 0, 'coachId': 8357, 'side...",181150,2018-05-13 14:00:00,1628,Selhurst Park,2500090,"Crystal Palace - West Bromwich Albion, 2 - 0","May 13, 2018 at 4:00:00 PM GMT+2",Regular,364,"{'refereeId': 381851, 'role': 'referee'}","{'refereeId': 385011, 'role': 'firstAssistant'}","{'refereeId': 385920, 'role': 'secondAssistant'}","{'refereeId': 381852, 'role': 'fourthOfficial'}",England,NaN,NaN,NaN
2,Played,4405654,38,"{'1609': {'scoreET': 0, 'coachId': 7845, 'side...",181150,2018-05-13 14:00:00,1609,The John Smith's Stadium,2500091,"Huddersfield Town - Arsenal, 0 - 1","May 13, 2018 at 4:00:00 PM GMT+2",Regular,364,"{'refereeId': 384965, 'role': 'referee'}","{'refereeId': 381917, 'role': 'firstAssistant'}","{'refereeId': 383201, 'role': 'secondAssistant'}","{'refereeId': 385737, 'role': 'fourthOfficial'}",England,NaN,NaN,NaN

In [14]:
df_matches["Tournament"].value_counts()

Tournament
England     380
France      380
Italy       380
Spain       380
Germany     306
World        64
European     51
Name: count, dtype: int64

In [19]:
# Read JSON file into DataFrame
filename = "players.json"
with open(filename, 'r', encoding='utf-8') as file:
    data = json.load(file)
df_players = pd.DataFrame(data)

# Flatten columns with lists
for column in df_players.columns:
    if isinstance(df_players[column][0], list):
        # Expand list into multiple columns
        expanded_columns = pd.json_normalize(df_players[column])
        expanded_columns.columns = [f"{column}_{col}" for col in expanded_columns.columns]
        df_players = pd.concat([df_players, expanded_columns], axis=1)
        # Drop the original column
        df_players.drop(columns=[column], inplace=True)

# Display DataFrame
pd.set_option("display.max_columns", None)
print(df_players.shape)

(3603, 14)

In [22]:
df_players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3603 entries, 0 to 3602
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   passportArea           3603 non-null   object
 1   weight                 3603 non-null   int64
 2   firstName              3603 non-null   object
 3   middleName             3603 non-null   object
 4   lastName               3603 non-null   object
 5   currentTeamId          3512 non-null   object
 6   birthDate              3603 non-null   object
 7   height                 3603 non-null   int64
 8   role                   3603 non-null   object
 9   birthArea              3603 non-null   object
 10  wyId                   3603 non-null   int64
 11  foot                   3603 non-null   object
 12  shortName              3603 non-null   object
 13  currentNationalTeamId  3603 non-null   object
dtypes: int64(3), object(11)
memory usage: 394.2+ KB

In [20]:
# Read JSON file into DataFrame
filename = "teams.json"
with open(filename, 'r', encoding='utf-8') as file:
    data = json.load(file)
df_teams = pd.DataFrame(data)

# Flatten columns with lists
for column in df_teams.columns:
    if isinstance(df_teams[column][0], list):
        # Expand list into multiple columns
        expanded_columns = pd.json_normalize(df_teams[column])
        expanded_columns.columns = [f"{column}_{col}" for col in expanded_columns.columns]
        df_teams = pd.concat([df_teams, expanded_columns], axis=1)
        # Drop the original column
        df_teams.drop(columns=[column], inplace=True)
        
# Display DataFrame
pd.set_option("display.max_columns", None)
print(df_teams.shape)

(142, 6)

In [24]:
df_teams.iloc[0]

city                                          Newcastle upon Tyne
name                                             Newcastle United
wyId                                                         1613
officialName                                  Newcastle United FC
area            {'name': 'England', 'id': '0', 'alpha3code': '...
type                                                         club
Name: 0, dtype: object

Dataframek joinol치sa: events.playerID = players.wyID, events.teamID = teams.wyID, events.matchID = matches.wyID

In [27]:
merged_df = pd.merge(df_events, df_players, left_on='playerId', right_on='wyId', how='left', suffixes=('', '_player'))
merged_df = pd.merge(merged_df, df_teams, left_on='teamId', right_on='wyId', how='left', suffixes=('', '_team'))
df = pd.merge(merged_df, df_matches, left_on='matchId', right_on='wyId', how='left', suffixes=('', '_match'))

# Drop redundant columns (wyID columns from merges)
#df.drop(columns=['wyId_player', 'wyId_team', 'wyId_match'], inplace=True)
df.head(3)

,eventId,subEventName,playerId,matchId,eventName,teamId,matchPeriod,eventSec,subEventId,id,tags_0,tags_1,tags_2,tags_3,tags_4,tags_5,positions_0,positions_1,Tournament,passportArea,weight,firstName,middleName,lastName,currentTeamId,birthDate,height,role,birthArea,wyId,foot,shortName,currentNationalTeamId,city,name,wyId_team,officialName,area,type,status,roundId,gameweek,teamsData,seasonId,dateutc,winner,venue,wyId_match,label,date,duration,competitionId,referees_0,referees_1,referees_2,referees_3,Tournament_match,groupName,referees_4,referees_5
0,8,Simple pass,25413,2499719,Pass,1609,1H,2.758649,85,177959171,{'id': 1801},None,None,None,None,None,"{'y': 49, 'x': 49}","{'y': 78, 'x': 31}",England,"{'name': 'Guadeloupe', 'id': 312, 'alpha3code'...",73.0,Alexandre,,Lacazette,1609,1991-05-28,175.0,"{'code2': 'FW', 'code3': 'FWD', 'name': 'Forwa...","{'name': 'France', 'id': 250, 'alpha3code': 'F...",25413.0,right,A. Lacazette,null,London,Arsenal,1609,Arsenal FC,"{'name': 'England', 'id': '0', 'alpha3code': '...",club,Played,4405654,1,"{'1609': {'scoreET': 0, 'coachId': 7845, 'side...",181150,2017-08-11 18:45:00,1609,Emirates Stadium,2499719,"Arsenal - Leicester City, 4 - 3","August 11, 2017 at 8:45:00 PM GMT+2",Regular,364,"{'refereeId': 385909, 'role': 'referee'}","{'refereeId': 385917, 'role': 'firstAssistant'}","{'refereeId': 384889, 'role': 'secondAssistant'}","{'refereeId': 381853, 'role': 'fourthOfficial'}",England,NaN,NaN,NaN
1,8,High pass,370224,2499719,Pass,1609,1H,4.946850,83,177959172,{'id': 1801},None,None,None,None,None,"{'y': 78, 'x': 31}","{'y': 75, 'x': 51}",England,"{'name': 'England', 'id': 0, 'alpha3code': 'XE...",75.0,Rob,,Holding,1609,1995-09-20,189.0,"{'code2': 'DF', 'code3': 'DEF', 'name': 'Defen...","{'name': 'England', 'id': 0, 'alpha3code': 'XE...",370224.0,right,R. Holding,null,London,Arsenal,1609,Arsenal FC,"{'name': 'England', 'id': '0', 'alpha3code': '...",club,Played,4405654,1,"{'1609': {'scoreET': 0, 'coachId': 7845, 'side...",181150,2017-08-11 18:45:00,1609,Emirates Stadium,2499719,"Arsenal - Leicester City, 4 - 3","August 11, 2017 at 8:45:00 PM GMT+2",Regular,364,"{'refereeId': 385909, 'role': 'referee'}","{'refereeId': 385917, 'role': 'firstAssistant'}","{'refereeId': 384889, 'role': 'secondAssistant'}","{'refereeId': 381853, 'role': 'fourthOfficial'}",England,NaN,NaN,NaN
2,8,Head pass,3319,2499719,Pass,1609,1H,6.542188,82,177959173,{'id': 1801},None,None,None,None,None,"{'y': 75, 'x': 51}","{'y': 71, 'x': 35}",England,"{'name': 'Germany', 'id': '276', 'alpha3code':...",76.0,Mesut,,\u00d6zil,1609,1988-10-15,180.0,"{'code2': 'MD', 'code3': 'MID', 'name': 'Midfi...","{'name': 'Germany', 'id': '276', 'alpha3code':...",3319.0,left,M. \u00d6zil,3148,London,Arsenal,1609,Arsenal FC,"{'name': 'England', 'id': '0', 'alpha3code': '...",club,Played,4405654,1,"{'1609': {'scoreET': 0, 'coachId': 7845, 'side...",181150,2017-08-11 18:45:00,1609,Emirates Stadium,2499719,"Arsenal - Leicester City, 4 - 3","August 11, 2017 at 8:45:00 PM GMT+2",Regular,364,"{'refereeId': 385909, 'role': 'referee'}","{'refereeId': 385917, 'role': 'firstAssistant'}","{'refereeId': 384889, 'role': 'secondAssistant'}","{'refereeId': 381853, 'role': 'fourthOfficial'}",England,NaN,NaN,NaN

Todo: ki kell v치lasztani a lig치t, amit vizsg치lni akarunk

In [31]:
df.iloc[0]['teamsData']

{'1609': {'scoreET': 0,
  'coachId': 7845,
  'side': 'home',
  'teamId': 1609,
  'score': 4,
  'scoreP': 0,
  'hasFormation': 1,
  'formation': {'bench': [{'playerId': 20612,
     'ownGoals': '0',
     'redCards': '0',
     'goals': '0',
     'yellowCards': '0'},
    {'playerId': 25662,
     'ownGoals': '0',
     'redCards': '0',
     'goals': '0',
     'yellowCards': '0'},
    {'playerId': 7864,
     'ownGoals': '0',
     'redCards': '0',
     'goals': '0',
     'yellowCards': '0'},
    {'playerId': 230020,
     'ownGoals': '0',
     'redCards': '0',
     'goals': '0',
     'yellowCards': '0'},
    {'playerId': 26010,
     'ownGoals': '0',
     'redCards': '0',
     'goals': '1',
     'yellowCards': '0'},
    {'playerId': 7879,
     'ownGoals': '0',
     'redCards': '0',
     'goals': '0',
     'yellowCards': '0'},
    {'playerId': 7870,
     'ownGoals': '0',
     'redCards': '0',
     'goals': '1',
     'yellowCards': '0'}],
   'lineup': [{'playerId': 370224,
     'ownGoals': '0',
     'redCards': '0',
     'goals': '0',
     'yellowCards': '0'},
    {'playerId': 120339,
     'ownGoals': '0',
     'redCards': '0',
     'goals': '0',
     'yellowCards': '0'},
    {'playerId': 7945,
     'ownGoals': '0',
     'redCards': '0',
     'goals': '1',
     'yellowCards': '0'},
    {'playerId': 14869,
     'ownGoals': '0',
     'redCards': '0',
     'goals': '0',
     'yellowCards': '0'},
    {'playerId': 25413,
     'ownGoals': '0',
     'redCards': '0',
     'goals': '1',
     'yellowCards': '0'},
    {'playerId': 7868,
     'ownGoals': '0',
     'redCards': '0',
     'goals': '0',
     'yellowCards': '0'},
    {'playerId': 3560,
     'ownGoals': '0',
     'redCards': '0',
     'goals': '0',
     'yellowCards': '0'},
    {'playerId': 167145,
     'ownGoals': '0',
     'redCards': '0',
     'goals': '0',
     'yellowCards': '0'},
    {'playerId': 3319,
     'ownGoals': '0',
     'redCards': '0',
     'goals': '0',
     'yellowCards': '0'},
    {'playerId': 7882,
     'ownGoals': '0',
     'redCards': '0',
     'goals': '0',
     'yellowCards': '0'},
    {'playerId': 49876,
     'ownGoals': '0',
     'redCards': '0',
     'goals': '0',
     'yellowCards': '0'}],
   'substitutions': [{'playerIn': 26010, 'playerOut': 370224, 'minute': 67},
    {'playerIn': 7870, 'playerOut': 120339, 'minute': 67},
    {'playerIn': 7879, 'playerOut': 7945, 'minute': 75}]},
  'scoreHT': 2},
 '1631': {'scoreET': 0,
  'coachId': 333782,
  'side': 'away',
  'teamId': 1631,
  'score': 3,
  'scoreP': 0,
  'hasFormation': 1,
  'formation': {'bench': [{'playerId': 119630,
     'ownGoals': '0',
     'redCards': '0',
     'goals': '0',
     'yellowCards': '0'},
    {'playerId': 8498,
     'ownGoals': '0',
     'redCards': '0',
     'goals': '0',
     'yellowCards': '0'},
    {'playerId': 350976,
     'ownGoals': '0',
     'redCards': '0',
     'goals': '0',
     'yellowCards': '0'},
    {'playerId': 8066,
     'ownGoals': '0',
     'redCards': '0',
     'goals': '0',
     'yellowCards': '0'},
    {'playerId': 285508,
     'ownGoals': '0',
     'redCards': '0',
     'goals': '0',
     'yellowCards': '0'},
    {'playerId': 217078,
     'ownGoals': '0',
     'redCards': '0',
     'goals': '0',
     'yellowCards': '0'},
    {'playerId': 283142,
     'ownGoals': '0',
     'redCards': '0',
     'goals': '0',
     'yellowCards': '0'}],
   'lineup': [{'playerId': 14763,
     'ownGoals': '0',
     'redCards': '0',
     'goals': '1',
     'yellowCards': '0'},
    {'playerId': 192748,
     'ownGoals': '0',
     'redCards': '0',
     'goals': '0',
     'yellowCards': '0'},
    {'playerId': 8013,
     'ownGoals': '0',
     'redCards': '0',
     'goals': '0',
     'yellowCards': '0'},
    {'playerId': 8480,
     'ownGoals': '0',
     'redCards': '0',
     'goals': '0',
     'yellowCards': '0'},
    {'playerId': 8653,
     'ownGoals': '0',
     'redCards': '0',
     'goals': '0',
     'yellowCards': '0'},
    {'playerId': 149019,
     'ownGoals': '0',
     'redCards': '0',
     'goals': '0',
     'yellowCards': '0'},
    {'playerId': 8488,
     'ownGoals': '0',
     'redCards': '0',
     'goals': '0',
     'yellowCards': '94'},
    {'playerId': 14853,
     'ownGoals': '0',
     'redCards': '0',
     'goals': '0',
     'yellowCards': '0'},
    {'playerId': 265366,
     'ownGoals': '0',
     'redCards': '0',
     'goals': '0',
     'yellowCards': '0'},
    {'playerId': 12829,
     'ownGoals': '0',
     'redCards': '0',
     'goals': '2',
     'yellowCards': '0'},
    {'playerId': 26150,
     'ownGoals': '0',
     'redCards': '0',
     'goals': '0',
     'yellowCards': '0'}],
   'substitutions': [{'playerIn': 217078, 'playerOut': 14763, 'minute': 72},
    {'playerIn': 285508, 'playerOut': 192748, 'minute': 82},
    {'playerIn': 283142, 'playerOut': 8013, 'minute': 88}]},
  'scoreHT': 2}}

In [32]:
# Flatten columns with hierarchical information
for column in df.columns:
    if isinstance(df[column][0], dict):
        # Expand hierarchical information into multiple columns
        expanded_columns = pd.json_normalize(df[column])
        expanded_columns.columns = [f"{column}_{col}" for col in expanded_columns.columns]
        df = pd.concat([df, expanded_columns], axis=1)
        # Drop the original column
        df.drop(columns=[column], inplace=True)

MemoryError: Unable to allocate 37.8 GiB for an array with shape (3251294, 1562) and data type object